.env
.env.*
!.env.example
vendor
node_modules
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.git
.phpunit.result.cache
tests
